	/* ------------------------ Step 1 ----------------------- */
	@-webkit-keyframes framed-1 {
	from { background-position: 0px; }
	to { background-position: -300px; }
	}
	@-moz-keyframes framed-1 {
	from { background-position: 0px; }
	to { background-position: -300px; }
	}
	@keyframes framed-1 {
	from { background-position: 0px; }
	to { background-position: -300px; }
	}
	.framed-1 {
	-webkit-animation: framed-1 4s steps(1, end) infinite;
	-moz-animation: framed-1 4s steps(1, end) infinite;
	animation: framed-1 4s steps(1, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 2 ----------------------- */
	@-webkit-keyframes framed-2 {
	from { background-position: 0px; }
	to { background-position: -600px; }
	}
	@-moz-keyframes framed-2 {
	from { background-position: 0px; }
	to { background-position: -600px; }
	}
	@keyframes framed-2 {
	from { background-position: 0px; }
	to { background-position: -600px; }
	}
	.framed-2 {
	-webkit-animation: framed-2 4s steps(2, end) infinite;
	-moz-animation: framed-2 4s steps(2, end) infinite;
	animation: framed-2 4s steps(2, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 3 ----------------------- */
	@-webkit-keyframes framed-3 {
	from { background-position: 0px; }
	to { background-position: -900px; }
	}
	@-moz-keyframes framed-3 {
	from { background-position: 0px; }
	to { background-position: -900px; }
	}
	@keyframes framed-3 {
	from { background-position: 0px; }
	to { background-position: -900px; }
	}
	.framed-3 {
	-webkit-animation: framed-3 4s steps(3, end) infinite;
	-moz-animation: framed-3 4s steps(3, end) infinite;
	animation: framed-3 4s steps(3, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 4 ----------------------- */
	@-webkit-keyframes framed-4 {
	from { background-position: 0px; }
	to { background-position: -1200px; }
	}
	@-moz-keyframes framed-4 {
	from { background-position: 0px; }
	to { background-position: -1200px; }
	}
	@keyframes framed-4 {
	from { background-position: 0px; }
	to { background-position: -1200px; }
	}
	.framed-4 {
	-webkit-animation: framed-4 4s steps(4, end) infinite;
	-moz-animation: framed-4 4s steps(4, end) infinite;
	animation: framed-4 4s steps(4, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 5 ----------------------- */
	@-webkit-keyframes framed-5 {
	from { background-position: 0px; }
	to { background-position: -1500px; }
	}
	@-moz-keyframes framed-5 {
	from { background-position: 0px; }
	to { background-position: -1500px; }
	}
	@keyframes framed-5 {
	from { background-position: 0px; }
	to { background-position: -1500px; }
	}
	.framed-5 {
	-webkit-animation: framed-5 4s steps(5, end) infinite;
	-moz-animation: framed-5 4s steps(5, end) infinite;
	animation: framed-5 4s steps(5, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 6 ----------------------- */
	@-webkit-keyframes framed-6 {
	from { background-position: 0px; }
	to { background-position: -1800px; }
	}
	@-moz-keyframes framed-6 {
	from { background-position: 0px; }
	to { background-position: -1800px; }
	}
	@keyframes framed-6 {
	from { background-position: 0px; }
	to { background-position: -1800px; }
	}
	.framed-6 {
	-webkit-animation: framed-6 4s steps(6, end) infinite;
	-moz-animation: framed-6 4s steps(6, end) infinite;
	animation: framed-6 4s steps(6, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 7 ----------------------- */
	@-webkit-keyframes framed-7 {
	from { background-position: 0px; }
	to { background-position: -2100px; }
	}
	@-moz-keyframes framed-7 {
	from { background-position: 0px; }
	to { background-position: -2100px; }
	}
	@keyframes framed-7 {
	from { background-position: 0px; }
	to { background-position: -2100px; }
	}
	.framed-7 {
	-webkit-animation: framed-7 4s steps(7, end) infinite;
	-moz-animation: framed-7 4s steps(7, end) infinite;
	animation: framed-7 4s steps(7, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 8 ----------------------- */
	@-webkit-keyframes framed-8 {
	from { background-position: 0px; }
	to { background-position: -2400px; }
	}
	@-moz-keyframes framed-8 {
	from { background-position: 0px; }
	to { background-position: -2400px; }
	}
	@keyframes framed-8 {
	from { background-position: 0px; }
	to { background-position: -2400px; }
	}
	.framed-8 {
	-webkit-animation: framed-8 4s steps(8, end) infinite;
	-moz-animation: framed-8 4s steps(8, end) infinite;
	animation: framed-8 4s steps(8, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 9 ----------------------- */
	@-webkit-keyframes framed-9 {
	from { background-position: 0px; }
	to { background-position: -2700px; }
	}
	@-moz-keyframes framed-9 {
	from { background-position: 0px; }
	to { background-position: -2700px; }
	}
	@keyframes framed-9 {
	from { background-position: 0px; }
	to { background-position: -2700px; }
	}
	.framed-9 {
	-webkit-animation: framed-9 4s steps(9, end) infinite;
	-moz-animation: framed-9 4s steps(9, end) infinite;
	animation: framed-9 4s steps(9, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 10 ----------------------- */
	@-webkit-keyframes framed-10 {
	from { background-position: 0px; }
	to { background-position: -3000px; }
	}
	@-moz-keyframes framed-10 {
	from { background-position: 0px; }
	to { background-position: -3000px; }
	}
	@keyframes framed-10 {
	from { background-position: 0px; }
	to { background-position: -3000px; }
	}
	.framed-10 {
	-webkit-animation: framed-10 4s steps(10, end) infinite;
	-moz-animation: framed-10 4s steps(10, end) infinite;
	animation: framed-10 4s steps(10, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 11 ----------------------- */
	@-webkit-keyframes framed-11 {
	from { background-position: 0px; }
	to { background-position: -3300px; }
	}
	@-moz-keyframes framed-11 {
	from { background-position: 0px; }
	to { background-position: -3300px; }
	}
	@keyframes framed-11 {
	from { background-position: 0px; }
	to { background-position: -3300px; }
	}
	.framed-11 {
	-webkit-animation: framed-11 4s steps(11, end) infinite;
	-moz-animation: framed-11 4s steps(11, end) infinite;
	animation: framed-11 4s steps(11, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 12 ----------------------- */
	@-webkit-keyframes framed-12 {
	from { background-position: 0px; }
	to { background-position: -3600px; }
	}
	@-moz-keyframes framed-12 {
	from { background-position: 0px; }
	to { background-position: -3600px; }
	}
	@keyframes framed-12 {
	from { background-position: 0px; }
	to { background-position: -3600px; }
	}
	.framed-12 {
	-webkit-animation: framed-12 4s steps(12, end) infinite;
	-moz-animation: framed-12 4s steps(12, end) infinite;
	animation: framed-12 4s steps(12, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 13 ----------------------- */
	@-webkit-keyframes framed-13 {
	from { background-position: 0px; }
	to { background-position: -3900px; }
	}
	@-moz-keyframes framed-13 {
	from { background-position: 0px; }
	to { background-position: -3900px; }
	}
	@keyframes framed-13 {
	from { background-position: 0px; }
	to { background-position: -3900px; }
	}
	.framed-13 {
	-webkit-animation: framed-13 4s steps(13, end) infinite;
	-moz-animation: framed-13 4s steps(13, end) infinite;
	animation: framed-13 4s steps(13, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 14 ----------------------- */
	@-webkit-keyframes framed-14 {
	from { background-position: 0px; }
	to { background-position: -4200px; }
	}
	@-moz-keyframes framed-14 {
	from { background-position: 0px; }
	to { background-position: -4200px; }
	}
	@keyframes framed-14 {
	from { background-position: 0px; }
	to { background-position: -4200px; }
	}
	.framed-14 {
	-webkit-animation: framed-14 4s steps(14, end) infinite;
	-moz-animation: framed-14 4s steps(14, end) infinite;
	animation: framed-14 4s steps(14, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 15 ----------------------- */
	@-webkit-keyframes framed-15 {
	from { background-position: 0px; }
	to { background-position: -4500px; }
	}
	@-moz-keyframes framed-15 {
	from { background-position: 0px; }
	to { background-position: -4500px; }
	}
	@keyframes framed-15 {
	from { background-position: 0px; }
	to { background-position: -4500px; }
	}
	.framed-15 {
	-webkit-animation: framed-15 4s steps(15, end) infinite;
	-moz-animation: framed-15 4s steps(15, end) infinite;
	animation: framed-15 4s steps(15, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 16 ----------------------- */
	@-webkit-keyframes framed-16 {
	from { background-position: 0px; }
	to { background-position: -4800px; }
	}
	@-moz-keyframes framed-16 {
	from { background-position: 0px; }
	to { background-position: -4800px; }
	}
	@keyframes framed-16 {
	from { background-position: 0px; }
	to { background-position: -4800px; }
	}
	.framed-16 {
	-webkit-animation: framed-16 4s steps(16, end) infinite;
	-moz-animation: framed-16 4s steps(16, end) infinite;
	animation: framed-16 4s steps(16, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 17 ----------------------- */
	@-webkit-keyframes framed-17 {
	from { background-position: 0px; }
	to { background-position: -5100px; }
	}
	@-moz-keyframes framed-17 {
	from { background-position: 0px; }
	to { background-position: -5100px; }
	}
	@keyframes framed-17 {
	from { background-position: 0px; }
	to { background-position: -5100px; }
	}
	.framed-17 {
	-webkit-animation: framed-17 4s steps(17, end) infinite;
	-moz-animation: framed-17 4s steps(17, end) infinite;
	animation: framed-17 4s steps(17, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 18 ----------------------- */
	@-webkit-keyframes framed-18 {
	from { background-position: 0px; }
	to { background-position: -5400px; }
	}
	@-moz-keyframes framed-18 {
	from { background-position: 0px; }
	to { background-position: -5400px; }
	}
	@keyframes framed-18 {
	from { background-position: 0px; }
	to { background-position: -5400px; }
	}
	.framed-18 {
	-webkit-animation: framed-18 4s steps(18, end) infinite;
	-moz-animation: framed-18 4s steps(18, end) infinite;
	animation: framed-18 4s steps(18, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 19 ----------------------- */
	@-webkit-keyframes framed-19 {
	from { background-position: 0px; }
	to { background-position: -5700px; }
	}
	@-moz-keyframes framed-19 {
	from { background-position: 0px; }
	to { background-position: -5700px; }
	}
	@keyframes framed-19 {
	from { background-position: 0px; }
	to { background-position: -5700px; }
	}
	.framed-19 {
	-webkit-animation: framed-19 4s steps(19, end) infinite;
	-moz-animation: framed-19 4s steps(19, end) infinite;
	animation: framed-19 4s steps(19, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 20 ----------------------- */
	@-webkit-keyframes framed-20 {
	from { background-position: 0px; }
	to { background-position: -6000px; }
	}
	@-moz-keyframes framed-20 {
	from { background-position: 0px; }
	to { background-position: -6000px; }
	}
	@keyframes framed-20 {
	from { background-position: 0px; }
	to { background-position: -6000px; }
	}
	.framed-20 {
	-webkit-animation: framed-20 4s steps(20, end) infinite;
	-moz-animation: framed-20 4s steps(20, end) infinite;
	animation: framed-20 4s steps(20, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 21 ----------------------- */
	@-webkit-keyframes framed-21 {
	from { background-position: 0px; }
	to { background-position: -6300px; }
	}
	@-moz-keyframes framed-21 {
	from { background-position: 0px; }
	to { background-position: -6300px; }
	}
	@keyframes framed-21 {
	from { background-position: 0px; }
	to { background-position: -6300px; }
	}
	.framed-21 {
	-webkit-animation: framed-21 4s steps(21, end) infinite;
	-moz-animation: framed-21 4s steps(21, end) infinite;
	animation: framed-21 4s steps(21, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 22 ----------------------- */
	@-webkit-keyframes framed-22 {
	from { background-position: 0px; }
	to { background-position: -6600px; }
	}
	@-moz-keyframes framed-22 {
	from { background-position: 0px; }
	to { background-position: -6600px; }
	}
	@keyframes framed-22 {
	from { background-position: 0px; }
	to { background-position: -6600px; }
	}
	.framed-22 {
	-webkit-animation: framed-22 4s steps(22, end) infinite;
	-moz-animation: framed-22 4s steps(22, end) infinite;
	animation: framed-22 4s steps(22, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 23 ----------------------- */
	@-webkit-keyframes framed-23 {
	from { background-position: 0px; }
	to { background-position: -6900px; }
	}
	@-moz-keyframes framed-23 {
	from { background-position: 0px; }
	to { background-position: -6900px; }
	}
	@keyframes framed-23 {
	from { background-position: 0px; }
	to { background-position: -6900px; }
	}
	.framed-23 {
	-webkit-animation: framed-23 4s steps(23, end) infinite;
	-moz-animation: framed-23 4s steps(23, end) infinite;
	animation: framed-23 4s steps(23, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 24 ----------------------- */
	@-webkit-keyframes framed-24 {
	from { background-position: 0px; }
	to { background-position: -7200px; }
	}
	@-moz-keyframes framed-24 {
	from { background-position: 0px; }
	to { background-position: -7200px; }
	}
	@keyframes framed-24 {
	from { background-position: 0px; }
	to { background-position: -7200px; }
	}
	.framed-24 {
	-webkit-animation: framed-24 4s steps(24, end) infinite;
	-moz-animation: framed-24 4s steps(24, end) infinite;
	animation: framed-24 4s steps(24, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 25 ----------------------- */
	@-webkit-keyframes framed-25 {
	from { background-position: 0px; }
	to { background-position: -7500px; }
	}
	@-moz-keyframes framed-25 {
	from { background-position: 0px; }
	to { background-position: -7500px; }
	}
	@keyframes framed-25 {
	from { background-position: 0px; }
	to { background-position: -7500px; }
	}
	.framed-25 {
	-webkit-animation: framed-25 4s steps(25, end) infinite;
	-moz-animation: framed-25 4s steps(25, end) infinite;
	animation: framed-25 4s steps(25, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 26 ----------------------- */
	@-webkit-keyframes framed-26 {
	from { background-position: 0px; }
	to { background-position: -7800px; }
	}
	@-moz-keyframes framed-26 {
	from { background-position: 0px; }
	to { background-position: -7800px; }
	}
	@keyframes framed-26 {
	from { background-position: 0px; }
	to { background-position: -7800px; }
	}
	.framed-26 {
	-webkit-animation: framed-26 4s steps(26, end) infinite;
	-moz-animation: framed-26 4s steps(26, end) infinite;
	animation: framed-26 4s steps(26, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 27 ----------------------- */
	@-webkit-keyframes framed-27 {
	from { background-position: 0px; }
	to { background-position: -8100px; }
	}
	@-moz-keyframes framed-27 {
	from { background-position: 0px; }
	to { background-position: -8100px; }
	}
	@keyframes framed-27 {
	from { background-position: 0px; }
	to { background-position: -8100px; }
	}
	.framed-27 {
	-webkit-animation: framed-27 4s steps(27, end) infinite;
	-moz-animation: framed-27 4s steps(27, end) infinite;
	animation: framed-27 4s steps(27, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 28 ----------------------- */
	@-webkit-keyframes framed-28 {
	from { background-position: 0px; }
	to { background-position: -8400px; }
	}
	@-moz-keyframes framed-28 {
	from { background-position: 0px; }
	to { background-position: -8400px; }
	}
	@keyframes framed-28 {
	from { background-position: 0px; }
	to { background-position: -8400px; }
	}
	.framed-28 {
	-webkit-animation: framed-28 4s steps(28, end) infinite;
	-moz-animation: framed-28 4s steps(28, end) infinite;
	animation: framed-28 4s steps(28, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 29 ----------------------- */
	@-webkit-keyframes framed-29 {
	from { background-position: 0px; }
	to { background-position: -8700px; }
	}
	@-moz-keyframes framed-29 {
	from { background-position: 0px; }
	to { background-position: -8700px; }
	}
	@keyframes framed-29 {
	from { background-position: 0px; }
	to { background-position: -8700px; }
	}
	.framed-29 {
	-webkit-animation: framed-29 4s steps(29, end) infinite;
	-moz-animation: framed-29 4s steps(29, end) infinite;
	animation: framed-29 4s steps(29, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 30 ----------------------- */
	@-webkit-keyframes framed-30 {
	from { background-position: 0px; }
	to { background-position: -9000px; }
	}
	@-moz-keyframes framed-30 {
	from { background-position: 0px; }
	to { background-position: -9000px; }
	}
	@keyframes framed-30 {
	from { background-position: 0px; }
	to { background-position: -9000px; }
	}
	.framed-30 {
	-webkit-animation: framed-30 4s steps(30, end) infinite;
	-moz-animation: framed-30 4s steps(30, end) infinite;
	animation: framed-30 4s steps(30, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 31 ----------------------- */
	@-webkit-keyframes framed-31 {
	from { background-position: 0px; }
	to { background-position: -9300px; }
	}
	@-moz-keyframes framed-31 {
	from { background-position: 0px; }
	to { background-position: -9300px; }
	}
	@keyframes framed-31 {
	from { background-position: 0px; }
	to { background-position: -9300px; }
	}
	.framed-31 {
	-webkit-animation: framed-31 4s steps(31, end) infinite;
	-moz-animation: framed-31 4s steps(31, end) infinite;
	animation: framed-31 4s steps(31, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 32 ----------------------- */
	@-webkit-keyframes framed-32 {
	from { background-position: 0px; }
	to { background-position: -9600px; }
	}
	@-moz-keyframes framed-32 {
	from { background-position: 0px; }
	to { background-position: -9600px; }
	}
	@keyframes framed-32 {
	from { background-position: 0px; }
	to { background-position: -9600px; }
	}
	.framed-32 {
	-webkit-animation: framed-32 4s steps(32, end) infinite;
	-moz-animation: framed-32 4s steps(32, end) infinite;
	animation: framed-32 4s steps(32, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 33 ----------------------- */
	@-webkit-keyframes framed-33 {
	from { background-position: 0px; }
	to { background-position: -9900px; }
	}
	@-moz-keyframes framed-33 {
	from { background-position: 0px; }
	to { background-position: -9900px; }
	}
	@keyframes framed-33 {
	from { background-position: 0px; }
	to { background-position: -9900px; }
	}
	.framed-33 {
	-webkit-animation: framed-33 4s steps(33, end) infinite;
	-moz-animation: framed-33 4s steps(33, end) infinite;
	animation: framed-33 4s steps(33, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 34 ----------------------- */
	@-webkit-keyframes framed-34 {
	from { background-position: 0px; }
	to { background-position: -10200px; }
	}
	@-moz-keyframes framed-34 {
	from { background-position: 0px; }
	to { background-position: -10200px; }
	}
	@keyframes framed-34 {
	from { background-position: 0px; }
	to { background-position: -10200px; }
	}
	.framed-34 {
	-webkit-animation: framed-34 4s steps(34, end) infinite;
	-moz-animation: framed-34 4s steps(34, end) infinite;
	animation: framed-34 4s steps(34, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 35 ----------------------- */
	@-webkit-keyframes framed-35 {
	from { background-position: 0px; }
	to { background-position: -10500px; }
	}
	@-moz-keyframes framed-35 {
	from { background-position: 0px; }
	to { background-position: -10500px; }
	}
	@keyframes framed-35 {
	from { background-position: 0px; }
	to { background-position: -10500px; }
	}
	.framed-35 {
	-webkit-animation: framed-35 4s steps(35, end) infinite;
	-moz-animation: framed-35 4s steps(35, end) infinite;
	animation: framed-35 4s steps(35, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 36 ----------------------- */
	@-webkit-keyframes framed-36 {
	from { background-position: 0px; }
	to { background-position: -10800px; }
	}
	@-moz-keyframes framed-36 {
	from { background-position: 0px; }
	to { background-position: -10800px; }
	}
	@keyframes framed-36 {
	from { background-position: 0px; }
	to { background-position: -10800px; }
	}
	.framed-36 {
	-webkit-animation: framed-36 4s steps(36, end) infinite;
	-moz-animation: framed-36 4s steps(36, end) infinite;
	animation: framed-36 4s steps(36, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 37 ----------------------- */
	@-webkit-keyframes framed-37 {
	from { background-position: 0px; }
	to { background-position: -11100px; }
	}
	@-moz-keyframes framed-37 {
	from { background-position: 0px; }
	to { background-position: -11100px; }
	}
	@keyframes framed-37 {
	from { background-position: 0px; }
	to { background-position: -11100px; }
	}
	.framed-37 {
	-webkit-animation: framed-37 4s steps(37, end) infinite;
	-moz-animation: framed-37 4s steps(37, end) infinite;
	animation: framed-37 4s steps(37, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 38 ----------------------- */
	@-webkit-keyframes framed-38 {
	from { background-position: 0px; }
	to { background-position: -11400px; }
	}
	@-moz-keyframes framed-38 {
	from { background-position: 0px; }
	to { background-position: -11400px; }
	}
	@keyframes framed-38 {
	from { background-position: 0px; }
	to { background-position: -11400px; }
	}
	.framed-38 {
	-webkit-animation: framed-38 4s steps(38, end) infinite;
	-moz-animation: framed-38 4s steps(38, end) infinite;
	animation: framed-38 4s steps(38, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 39 ----------------------- */
	@-webkit-keyframes framed-39 {
	from { background-position: 0px; }
	to { background-position: -11700px; }
	}
	@-moz-keyframes framed-39 {
	from { background-position: 0px; }
	to { background-position: -11700px; }
	}
	@keyframes framed-39 {
	from { background-position: 0px; }
	to { background-position: -11700px; }
	}
	.framed-39 {
	-webkit-animation: framed-39 4s steps(39, end) infinite;
	-moz-animation: framed-39 4s steps(39, end) infinite;
	animation: framed-39 4s steps(39, end) infinite;
	}
	/* ------------------------------------------------------------- */


	/* ------------------------ Step 40 ----------------------- */
	@-webkit-keyframes framed-40 {
	from { background-position: 0px; }
	to { background-position: -12000px; }
	}
	@-moz-keyframes framed-40 {
	from { background-position: 0px; }
	to { background-position: -12000px; }
	}
	@keyframes framed-40 {
	from { background-position: 0px; }
	to { background-position: -12000px; }
	}
	.framed-40 {
	-webkit-animation: framed-40 4s steps(40, end) infinite;
	-moz-animation: framed-40 4s steps(40, end) infinite;
	animation: framed-40 4s steps(40, end) infinite;
	}
	/* ------------------------------------------------------------- */


